---
layout: default
---

<style type="text/css">
  .quilt {
    display: flex;
    flex-wrap: wrap;
  }
  .patch {
    border: 1px solid #fff;
    width: 100px;
    height: 100px;
  }
</style>

<div class="quilt">
  {% for agency in site.data.portfolio %}
    {% for project in agency.projects %}
      {% if project.display %}
        <div class="patch">
          <a href="">
            <img src="images/quilt/{{ project.patch }}" alt="{{ project.name }}" />
          </a>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>


